# This workflow will have a CI flow for fees-register-admin-web(angular) project
name: ccpay-paymentoutcome-web - CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CI: true
  NODE_OPTIONS: --max-old-space-size=4096

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: use node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - name: Yarn install
        run: yarn install --immutable
      - name: Install codecov globally
        run: npm install -g codecov
      - name: yarn version
        run: yarn --version
      - name: Yarn lint
        run: yarn lint
      - name: Yarn Test
        run: yarn test
      - name: Yarn test routes
        run: yarn test:routes
      - name: Yarn coverage
        run: yarn test:coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
